<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Register</title>
<link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}"></link>
</head>
<body>

<h1>Register</h1>
<form method="POST" th:object="${user}" enctype="multipart/form-data">
<div class="errors" th:if="${#fields.hasErrors('*')}">
<ul>
<li th:each="err : ${#fields.errors('*')}"
th:text="${err}">Input is incorrect</li>
</ul>
</div>

<label th:class="${#fields.hasErrors('firstName')}? 'error'">
First Name</label>:
<input type="text" th:field="*{firstName}"
th:class="${#fields.hasErrors('firstName')}? 'error'" /><br/>

<label th:class="${#fields.hasErrors('lastName')}? 'error'">
Last Name</label>:
<input type="text" th:field="*{lastName}"
th:class="${#fields.hasErrors('lastName')}? 'error'" /><br/>

<label th:class="${#fields.hasErrors('userName')}? 'error'">
User Name</label>:
<input type="text" th:field="*{userName}"
th:class="${#fields.hasErrors('userName')}? 'error'" /><br/>

<label th:class="${#fields.hasErrors('password')}? 'error'">
Password</label>:
<input type="text" th:field="*{password}"
th:class="${#fields.hasErrors('password')}? 'error'" /><br/>

<label>Profile Picture</label>: <input type="file" name="profilePicture" accept="image/jpeg,image/png,image/gif" /> <span th:if="${uploadFailedMessage}" th:text="${uploadFailedMessage}">No error</span> <br/>

<input type="submit" value="Register" />
</form>
</body>
</html>